/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

body {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
}

#recipiente,
#cardapio {
    box-sizing: border-box;
}

#recipiente {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    position: relative;
    background-image: linear-gradient(#f6f1b2, #4599b2);
}

header, #cardapio, footer {
    width: 646px;
    margin-left: 153px;
}

header {
    text-align: center;
}

header h1 {
    font-family: "Ravie";
    font-size: 36px;
    color: #e90c0c;
    margin-top: 30px;
    margin-bottom: 0;
    position: relative; left: -36px;
}

header h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative; right: -48px;
}

header h2 em {
    color: #d027aa;
    font-style: normal;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

#lateral {
    width: 154px;
    position: absolute; top: 0; left: 0; bottom: 0; right: 0;
}

#lateral h2 {
    font-weight: bold;
    font-size: 48px;
    position: absolute; top: 32%; left: -25%;
    transform: rotate(270deg);
}

img[src$="siri.png"] {
   position: absolute; top: 7px; left: -10px;
}

img[src$="bolhas.png"] {
   position: absolute; right: 20px; bottom: 125px; /* peixe height + 14px */
}

img[src$="peixe.png"] {
   position: absolute; left: -44px; bottom: 0;
}

img[src$="cartoes.png"] {
   position: absolute; top: 46px; right: 15px; bottom: 25px;
}

#cardapio {
    line-height: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    border: 1px solid #aac0ae;
}

ul {
    margin-top: 0;
    margin-bottom: 2.5em;
    padding: 0;
}

li {
    list-style: none;
    position: relative;
}

.preço {
    position: absolute; right: 1em;
}

footer {
    height: 116px;
    position: relative;
}

#ticket {
    position: fixed; top: 295px; left: 89px;
    left: -100px;
    transition: left 100ms ease-out; /* propriedade, duração, interpolação */
}

#ticket:hover {
  left: 0;
}
